<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-2 px-2">
        <i class="bi bi-bootstrap px-1"></i>
    </span>
    <span class="fs-4">Control Spotify Library</span>
</a>
<hr>
<div class="nav nav-pills flex-column">
    <span class="nav-item">
        <a href="{{ path('homepage') }}" class="nav-link active" aria-current="page">
            <i class="bi bi-house px-1"></i>
            Home
        </a>
    </span>
    <span>
        <a href="{{ path('library') }}" class="nav-link text-white">
            <i class="bi bi-music-note-list px-1"></i>
            Library
        </a>
    </span>
</div>
<hr>
<div class="nav nav-pills mb-auto overflow-auto">
    <div class="d-flex flex-column">
        {% for playlist in getPlaylists() %}
            <li>
                <a href="{{ playlist.external_urls.spotify }}" target="_blank" class="nav-link text-white">
                    <i class="bi bi-grid px-1"></i>
                    {{ playlist.name }}
                </a>
            </li>
        {% endfor %}
        {#        {% for i in 1..10 %} #}
        {#            <li> #}
        {#                <a href="" target="_blank" class="nav-link text-white"> #}
        {#                    <i class="bi bi-grid px-1"></i> #}
        {#                    foo #}
        {#                </a> #}
        {#            </li> #}
        {#        {% endfor %} #}
    </div>
</div>
<hr>
<div class="dropdown">
    {% set user = getUserInfo() %}

    {% if user.display_name is defined %}
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
           aria-expanded="false">
            <img src="{{ user.images[0].url }}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{ user.display_name }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" target="_blank" href="{{ user.external_urls.spotify }}">Spotify Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ path('logout') }}">Sign out</a></li>
        </ul>
    {% endif %}
</div>
