{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ track.name }}</h1>
    <h6 class="text-muted">Track</h6>

    <div class="card mb-4">
        <div class="card-body bg-dark text-light">
            <h5 class="card-title">{{ track.name }}</h5>
            <div class="row">
                <div class="col-auto">
                    {% if track.album.images[0] is defined %}
                        <img src="{{ track.album.images[0].url }}" width="200" alt="album image">
                    {% else %}
                        <div style="width: 200px; height: 200px"></div>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title">
                                {% for artist in track.artists %}
                                    <a href="{{ artist.external_urls.spotify }}"
                                       target="_blank">{{ artist.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </h6>

                            <p class="card-text">Popularity {{ track.popularity }}</p>
                            <p class="card-text">Duration {{ (track.duration_ms/1000/60)|number_format(2) }} min</p>
                            <p class="card-text">Album {{ track.album.name }} ({{ track.album.release_date }})</p>

                        </div>

                        <div class="col">
                            <table class="table">
                                <tbody>
                                {% for userTag in getUserTags() %}
                                    <tr>
                                        {% if userTag.tracks.hasTrackBySpotifyId(track.id) %}
                                            <th scope="row">
                                                <a href="{{ path('track.remove_tag', {'trackId': track.id, 'tagId': userTag.id}) }}">
                                                    <i class="bi bi-toggle2-on text-success"></i>
                                                </a>
                                            </th>
                                        {% else %}
                                            <th scope="row">
                                                <a href="{{ path('track.add_tag', {'trackId': track.id, 'tagId': userTag.id}) }}">
                                                    <i class="bi bi-toggle2-off text-danger"></i>
                                                </a>
                                            </th>
                                        {% endif %}
                                        <td>
                                            <a target="_blank" href="{{ path('tags.detail', {'id': userTag.id}) }}">{{ userTag.name }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td>
                                        <form action="{{ path('track.add_new_tag', {'trackId': track.id}) }}">
                                            <input type="text" name="tagName" placeholder="Input a new tag name"/>
                                            <input type="submit"/>
                                        </form>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

{% endblock %}
